/* TOROIDE FEATURED POSTS STYLE */

.toroide-featured-post-content {
  padding-top: 0px;
}

.toroide-featured-post-title {
  padding-top: 0px;
}

.toroide-featured-post-title a{
  font-family: $toroide-title-font-family;
}

