<div class="card mb-4 toroide-card toroide-post-author-card">
    <div class="card-body toroide-col-center">
        <div class="toroide-post-author-avatar">
            <img alt="" src="/images/jake.gif">
        </div>
        <div class="info toroide-text-align">
            <div class="title">
                <a target="_blank" href="http://scripteden.com/">{{ post.author.name }}</a>
            </div>
            <div class="desc">{{ post.author.signature }}</div>
        </div>
    </div>
</div>