<div class="card mb-4 toroide-card toroide-related-posts">
    <div class="card-body">
        <h3 class="card-title toroide-card-title">Artículos relacionados</h3>
        <div class="row">
            {% for post in posts %}
                <div class="col-md-4 card toroide-card">
                    <img class="card-img-top" src="http://placehold.it/600x600" alt="Card image cap">
                    <a class="card-text toroide-related-post-title" href="{{ path('spiral_front_post', { 'categorySlug': post.category.slug, 'slug': post.slug }) }}">{{ post.title }}</a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>