<div class="card mb-4 spiral-card spiral-author-card">
    <div class="card-body spiral-col-center">
        <div class="spiral-avatar">
            <img alt="" class="spiral-avatar-img" src="/images/jake.gif">
        </div>
        <div class="info">
            <div class="title">
                <a target="_blank" href="http://scripteden.com/">Script Eden</a>
            </div>
            <div class="desc">Passionate designer</div>
            <div class="desc">Curious developer</div>
            <div class="desc">Tech geek</div>
        </div>
    </div>
</div>