<div class="card mb-4 toroide-card toroide-share toroide-line-center">
    <div class="card-body toroide-col-center">
        <a href="#" class="fa fa-facebook toroide-fa"></a>
        <a href="#" class="fa fa-twitter toroide-fa"></a>
        <a href="#" class="fa fa-linkedin toroide-fa"></a>
    </div>
</div>