<div class="card mb-4 spiral-card spiral-share spiral-line-center">
    <div class="card-body spiral-social-links spiral-col-center">
        <a href="#" class="fa fa-facebook spiral-fa spiral-share-button"></a>
        <a href="#" class="fa fa-twitter spiral-fa spiral-share-button"></a>
        <a href="#" class="fa fa-linkedin spiral-fa spiral-share-button"></a>
    </div>
</div>