@import '~startbootstrap-blog-home/vendor/bootstrap/css/bootstrap.css';
@import '~startbootstrap-blog-home/vendor/bootstrap/css/bootstrap-grid.css';
@import '~startbootstrap-blog-home/vendor/bootstrap/css/bootstrap-reboot.css';

$cinco-percent: 5%;
$dos-percent: 2%;

a { color: #ff0099; }
body {     color: #484848; }

.spiralcms-blogentries-content {
  margin-top: $dos-percent;
}

.spiralcms-right-bar {
  margin-top: $dos-percent;;
}

.spiral-col-center {
  float: none;
  margin: 0 auto;
}

.spiral-blog-header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
}

.spiral-blog-header-content {
  height: 200px;
}

.spiral-card {
  border: 0px;
}

.spiral-post-card-text {
  margin-top:5%;
}

.spiral-card-title {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  color: #292929;
}

.spiral-card-posted {
  font-size: 10px;
  color: #999999;
}

.spiral-index-card-title-link{
  color:black;
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

.index-spiral-card {
  margin-bottom: 10%;
}

.spiral-jumbotron {
  margin-top:2%;
}

.spiral-navigator {
  background-color: white !important;
}

.spiral-fa {
  padding: 20px;
  font-size: 15px;
  width: 55px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  background-color: #00fdb1;
  color: white;
}
.spiral-fa:hover {
  opacity: 0.7;
  text-decoration: none;
  color: #565655;
}

.spiral-related-post-title {
  margin-top: 5%;
}

.spiral-logo {
  width: 35%;
}

.spiral-list-inline {
  font-size: 10px;
  margin-top:2%;
}

.spiral-list-inline li {
  background-color: #ffe2008f;
  color: #4e4e4e;
  padding: 0.5%;
}

.spiral-list-inline li:hover {
  color: #ffe200;
  background-color: #4e4e4e9e;
  padding: 0.5%;
}

.spiral-avatar {
  position: relative;
  top: -50px;
  margin-bottom: -50px;
}

.spiral-avatar img {
  width: 100px;
  height: 100px;
  max-width: 100px;
  max-height: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 5px solid rgba(255,255,255,0.5);
}

.info {
  text-align: center;
}

.spiral-avatar-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


.spiral-related-posts, .spiral-share {
  margin-top:15%;
}


.spiral-author-card {
  width: 100%;
  position: relative;
  margin-top:15%;
}

.spiral-author-card:before, .spiral-author-card:after {
  content: '';
  position: absolute;
  top: 16px;
  height: 1px;
  background: #e5e5e5;
  width: 42%;
  display: block;
}
.spiral-author-card:before {
  left: 0;
}
.spiral-author-card:after {
  right: 0;
}





.spiral-line-center {
  width: 100%;
  position: relative;
  margin-top:15%;
}

.spiral-line-center:before, .spiral-line-center:after {
  content: '';
  position: absolute;
  top: 51px;
  height: 1px;
  background: #e5e5e5;
  width: 31%;
  display: block;
}
.spiral-line-center:before {
  left: 0;
}
.spiral-line-center:after {
  right: 0;
}





.spiral-fa {
  padding: 20px;
  font-size: 15px;
  width: 55px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  background-color: #00fdb1;
  color: white;
}