<header class="blog-header py-3 toroide-blog-header">
    <div class="row flex-nowrap justify-content-between align-items-center toroide-blog-header-content">
        <div class="col-md-8 text-center toroide-col-center">
            <a class="blog-header-logo text-dark" href="{{ path('spiral_front_index') }}">
                <img src="/images/logo.png" class="toroide-logo">
            </a>
        </div>
    </div>
</header>