<header class="blog-header py-3 spiral-blog-header ">
    <div class="row flex-nowrap justify-content-between align-items-center spiral-blog-header-content">
        <div class="col-md-8 text-center spiral-col-center">
            <a class="blog-header-logo text-dark" href="#">
                <img src="/images/logo.png" class="spiral-logo">
            </a>
        </div>
    </div>
</header>