<div class="card my-4">
    <h5 class="card-header">Search</h5>
    <div class="card-body">
        {{ form_start(form) }}
        {{ form_errors(form) }}

        <div class="input-group">
            {{ form_widget(form.s, {'attr':{'class':'form-control'}}) }}
            <span class="input-group-btn">
              <button class="btn btn-secondary" type="submit">Go!</button>
            </span>
        </div>

        {{ form_end(form) }}
    </div>
</div>