{% extends 'frontend/toroide/base.html.twig' %}

{% block metadata %}
    {{ get_metadata('{
            "@context": "http://schema.org",
            "@type": "WebPage",
            "name": "Lecture 12: Graphs, networks, incidence matrices",
            "alternateName": "Lecture 12: Graphs, networks, incidence matrices",
            "description": "These video lectures of Professor Gilbert Strang teaching 18.06 were recorded in Fall 1999 and do not correspond precisely to the current  edition of the textbook.",

            "publisher": {
                "@type": "CollegeOrUniversity",
                "name": "MIT OpenCourseWare"
            },
            "license": "http://creativecommons.org/licenses/by-nc-sa/3.0/us/deed.en_US"
        }') }}
{% endblock %}

{% block container %}
    <div class="container">
        <div class="row">

            {% block jumbotron %}{% endblock %}
            {% block featured_posts %}{% endblock %}

            {% block content %}
                <div class="col-md-8 spiralcms-blogentries-content">
                    <div class="card mb-4 spiral-card">
                        <div class="card-body">
                            <small class="card-title">Todos los artículos sobre <span class="category-title"><i>{{ category.title }}</i></span></small>
                        </div>
                    </div>

                    {% for post in posts %}
                        {{ include('frontend/toroide/partials/post-list-card.html.twig') }}
                    {% endfor %}

                </div>
            {% endblock %}

            {% block right_sidebar %}
                {{ parent() }}
            {% endblock %}

        </div>
    </div>
{% endblock %}