{% extends 'frontend/toroide/base.html.twig' %}

{% block metadata %}
    {{ get_metadata('{
        "title": "Gorkamu",
        "description": "Gorkamu gorkamu",
        "viewport": "width=device-width, initial-scale=1",
        "ldjson": {
            "@context": "http://schema.org",
            "@type": "WebSite",
            "url": "'~app.request.uri~'",
            "name": "Gorkamu",
            "author": {
                "@type": "Person",
                "name": "Gorka"
            },
            "description": "Descrption asdasd",
            "publisher": {
                "@type": "Organization",
                "name": "Gorka",
                "logo": {
                    "@type": "ImageObject",
                    "url": "https://static.tumblr.com/omgciym/W7an1u5a6/logotrasncontorno.png",
                    "width": "500",
                    "height": "500"
                }
            },
            "potentialAction": {
                "@type": "SearchAction",
                "target": "'~app.request.getSchemeAndHttpHost()~'/search?s={search_term}",
                "query-input": "required name=search_term"
            }
        },
        "og": {
            "site_name": "'~app.request.uri~'",
            "title": "Gorkamu gorkamu",
            "url": "'~app.request.uri~'",
            "type": "blog",
            "description": "Gorkamu gorkamu",
            "image": "ASD"
        }
}') }}
{% endblock %}

{% block container %}
    <div class="container">
        <div class="row">
            {% block content %}
                <div class="col-md-8 toroide-content">

                    {% for post in posts %}
                        {{ include('frontend/toroide/partials/_post-list-card.html.twig') }}
                    {% endfor %}

                    <ul class="pagination justify-content-center mb-4">
                        {{ knp_pagination_render(posts) }}
                    </ul>
                </div>
            {% endblock %}
            {% block right_sidebar %}
                {{ parent() }}
            {% endblock %}
        </div>
    </div>
{% endblock %}